cygwin_install
http*
bash_history
vim/bundle
vim/bundle/*
vim/bundle/**
vim/autoload/pathogen.vim
scripts/github
scripts/ack
setup.exe
setup.log
setup.log.full
temp
zsh.exe.stackdump
st3/user/GoSublime/9/log.txt
st3/user/Package Control.last-run
**/*.swp
**/*~
**/*.swo
